.services {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.sSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.sSection.left {
  padding-left: 40px;
  width: auto;
}

.sTitle {
  font-size: var(--font-subtitle);
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 32px;
  max-width: 90%;
  word-break: break-word;
}

.serviceList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.service {
  align-items: center;
  background-color: #2f213f;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  gap: 16px;
  padding: 30px;
  width: 70%;
}

.serviceIcon {
  align-items: center;
  border-radius: 100%;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.icon1 {
  background-color: #0a192f;
}

.icon2 {
  background-color: #229ed9;
}

.icon3 {
  background-color: #f59e0b;
}

.serviceInfo {
  margin: auto;
}

.serviceInfo h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 9px;
}

.serviceInfo h3 {
  font-size: 14px;
  font-weight: 300;
}

.loading {
  color: white;
  font-size: 14px;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (width <= 1536px) {
  .service {
    width: 70%;
  }
}

@media (width <= 1280px) {
  .sTitle {
    font-size: clamp(--font-subtitle);
  }

  .service {
    width: 100%;
  }

  .serviceList {
    width: 80%;
  }
}

@media (width <= 1024px) {
  .sTitle {
    font-size: var(--font-subtitle);
  }

  .serviceList {
    width: 90%;
  }

  .service {
    width: 100%;
  }
}

@media (width <= 768px) {
  .services {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .sTitle {
    font-size: calc(var(--font-subtitle) * 2);
  }

  .sSection {
    width: 100%;
  }

  .sSection.right {
    display: none;
  }
}

@media (width <= 480px) {
  .sTitle {
    font-size: calc(var(--font-heading) * 1.8);
  }
}

@media (width <= 360px) {
  .sTitle {
    font-size: var(--font-small);
  }
}
