services:
  app:
    build: .
    container_name: enkeym-app
    restart: always
    environment:
      - NODE_ENV=production
    expose:
      - "3000"

  web:
    image: nginx:alpine
    container_name: enkeym-nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - app
