.contact {
  display: flex;
  gap: 100px;
  height: 100%;
}

.cSection {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 20px;
  width: 50%;
}

.cSection:last-child {
  background-color: rgb(2 2 45 / 18.7%);
  border-radius: 50% 0;
  margin: 50px 0;
  padding: 50px;
}

.foam {
  background-color: rgb(2 2 45 / 6.6%);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  padding: 5px 50px 30px;
  width: 80%;
}

.input,
.textarea {
  border: none;
  border-radius: 5px;
  padding: 12px;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 13px;
}

.formButton {
  background-color: #dd4c62;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 20px;
}

.hidden {
  display: none;
}

.submitRow {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.turnstileWrapper {
  flex-shrink: 0;
}

@media (width <= 1280px) {
  .foam {
    width: 100%;
  }
}

@media (width <= 1024px) {
  .contact {
    gap: 30px;
  }
}

@media (width <= 768px) {
  .contact {
    flex-direction: column;
  }

  .cSection {
    width: 100%;
  }

  .cSection:first-child {
    height: 70%;
  }

  .cSection:last-child {
    height: 30%;
  }
}
